
/ReinforcementLearning/ExpressiveAliens/.spyproject
/ReinforcementLearning/ExpressiveAliens/analysis/__pycache__
/ReinforcementLearning/ExpressiveAliens/common/__pycache__
/ReinforcementLearning/ExpressiveAliens/results
/ReinforcementLearning/ExpressiveAliens/custom/states/agent_states/__pycache__
/ReinforcementLearning/ExpressiveAliens/simulation/__pycache__
/ArticulatedBodies/.vs
/ArticulatedBodies/obj
/ArticulatedBodies/python/.spyproject
/Swarms/.vs
/Swarms/obj
/Swarms/python/.spyproject
/ExpressiveAliens/custom/agents/__pycache__
/ExpressiveAliens/analysis/__pycache__
/ExpressiveAliens/common/__pycache__
/ExpressiveAliens/custom/__pycache__
/ExpressiveAliens/custom/envs/__pycache__
/ExpressiveAliens/custom/rewards/__pycache__
/ExpressiveAliens/custom/states/__pycache__
/ExpressiveAliens/custom/states/agent_states/__pycache__
/ExpressiveAliens/custom/states/alive_states/__pycache__
/ExpressiveAliens/learning/__pycache__
/ExpressiveAliens/simulation/__pycache__
/ExpressiveAliens/.spyproject
ExpressiveAliens/results/biped_target_dist1.0_move_dist1.0_run9/replay_epoch_2000.p
*.gif
*.csv
/ExpressiveAliens/.spyproject
/ArticulatedBodies/build
